<div class="container">
    <div class="col-6 mx-auto shadow">
        <h3 class="text-center text-primary">Sign up page</h3>
        <input type="text" placeholder="Firstname" class="form-control my-2"  [(ngModel)]="firstname">
        <input type="text" placeholder="Lastname" class="form-control my-2" [(ngModel)]="lastname" >
        <input type="text" placeholder="email" class="form-control my-2" [(ngModel)]="email" >
        <input type="text" placeholder="Age" class="form-control my-2" [(ngModel)]="age">
        <input type="text" placeholder="Address" class="form-control my-2" [(ngModel)]="address" >
        <input type="text" placeholder="password" class="form-control my-2" [(ngModel)]="password" >
        <button class="btn btn-primary w-100" (click)="signup()">Sign up</button>
        <div class="text-danger text-center">{{message}}</div>

    </div>

</div>