<div class="container-fluid mt-5">
    <div class="text-center text-primary">
        <h5>This is the parent component!</h5>
     <div>
        <div class="row shadow p-5">
            <div class="col-6">
                <app-behaviorchild1></app-behaviorchild1>
            </div>
            <div class="col-6">
                <app-behaviorchild2></app-behaviorchild2>
            </div>
            <div>
                <app-behaviorchild3></app-behaviorchild3>
            </div>

        </div>

</div>
    </div>

</div>