<p>pipe works!</p>
<p>{{'agriculture'|uppercase}}</p>
<p>{{'HOME'|lowercase}}</p>

<div>{{time|date}}</div>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'long'}}</p>
<p>{{time|date:'full'}}</p>
<p>{{time|date:'medium'}}</p>
<p>{{time|date:'shortTime'}}</p>
<p>{{time|date:'longTime'}}</p>
<p>{{time|date:'fullTime'}}</p>
<p>{{time|date:'shortDate'}}</p>
<p>{{time|date:'longDate'}}</p>
<p>{{time|date:'fullDate'}}</p>
<p>{{time|date:'d/M/Y'}}</p>

<p>{{10000|currency}}</p>
<p>{{10000|currency:'EUR'}}</p>
<p>{{10000|currency:'EUR':'code'}}</p>
<p>{{10000|currency:'NGN':'symbol-narrow'}}</p>
<p>{{10000|currency:'NGN':'code'}}</p>
<p>{{2000|currency:'GBP'}}</p>
<P>{{3000|currency:'YEN'}}</P>
<p>{{10000|currency:'CNY'}}</p> 
<p>{{4000|currency:'GHC':'code'}}</p>

<p>{{'Investment'|slice:2:6}}</p>
<p>{{2/4|percent}}</p>
<p>{{''}}</p>
