<p>reactiveform works!</p>
<div class="col-5 mx-auto shadow">
    <h1 class="text-center text-success">Reactive Form</h1>
  <div class="row">
    <div class="p-2">
  <form [formGroup]="formone">
 <input type="text" class="form-control my-2" placeholder="Firstname" formControlName="firstname" [class.is-valid]="formone.get('firstname')?.valid && formone.get('firstname')?.dirty" [class.is-invalid]="formone.get('firstname')?.invalid && formone.get('firstname')?.dirty">
 <div *ngIf="formone.get('firstname')?.invalid && formone.get('firstname')?.untouched" >
  <span class="text-danger" *ngIf="formone.get('firstname')?.errors?.['required']">
 This field must not be empty
</span> 
 </div>
 <input type="text"  class="form-control my-2" placeholder="email" formControlName="email">
 <input type="password" class="form-control my-2" placeholder="Password" formControlName="password">
 <button class="btn btn-success w-100">Submit</button>
  </form>
    </div>

  </div>

</div>
